#banner {
	width:100%;
}

.principal{
	
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}



ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}
