body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #faf5f5;
	padding: 20px 0;
}


nav {
	position: absolute;
	top: 110px;
	right: 0;
	left: 40%;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.card {
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  .card p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .card-content {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .card-content .btn {
    margin-top: auto;
  }
  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 15px;
  }
  @media (min-width: 576px) {
    .products-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 992px) {
    .products-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  

.price {
	color: #37C957;
	font-weight: 600;
  }

 footer {
	position: fixed;
    bottom: 0;
	width: 100%;
    padding: 40px 0;
	background-color: #088C19;
} 



form {
	margin: 40px 0;
}

form label, form legend {
	
	font-size: 20px;
	margin: 0 2% 1%
}

.input-padrao {
	display: block;
	margin: 0 1% 1%;
	padding: 1% 1%;
	width: 50%;
}



.enviar {
	display: block;
	margin: 3% 10% 1%;
	padding: 2% 2%;
	width:20%;
	background-color: pink;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background-color:  pink; 
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

.recheio {
	display: block;
    margin: 3% 38% 1%;
    padding: 2% 2%;
    width: 26%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	text-align: center;
	text-decoration: none;
	background: pink;

}

/* css da página inicial */
.logo {
	margin-right: auto;
}

.banner {
	width:100%;
}
.header {
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.21);
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #FFF;
  }
  .header > div {
	display: flex;
	align-items: center;
  }
.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.btn {
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
	display: block;
	width: 100%;
	padding: 9px 0;
	cursor: pointer;
	transition: all .3s linear;
	text-decoration: none;
	background: pink;
  }
.btn-sacola {
	background: lightpink;
	font-size: 30px;  
	position: relative;
	cursor:pointer;
	border-radius: 30px;
	
	
}

#btn-cart {
	width: 60px;
	height:60px;
	background: pink;
	font-size: 30px;  
	position: relative;
	cursor:pointer;

	
}
.btn-cart-badge {
	position: absolute;
	bottom:0;
	right:5px;
	border: 1px;
	border-radius: 100%; 
	width: 20px;
	height: 20px;
	font-size:12px;
	display:flex;
	justify-content: center;
	align-items:center;
	background: pink;
}
	
	


.bombom {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}




/* css da página Recheios disponiveis */
.estilorecheios{
text-align:left;
padding-top: 1%;
font-size: 35px;
padding-bottom: 2%;
padding-left: 5%;
}


.container {
	padding-left: 12px;
	padding-right: 12px;
  }
  @media (min-width: 576px) {
	.container {
	  width: 540px;
	  margin-left: auto;
	  margin-right: auto;
	}
  }
  @media (min-width: 768px) {
	.container {
	  width: 720px;
	}
  }
  @media (min-width: 992px) {
	.container {
	  width: 960px;
	}
  }
  @media (min-width: 1200px) {
	.container {
	  width: 1140px;
	}
  }
  @media (min-width: 1400px) {
	.container {
	  width: 1320px;
	}
  }

  /* cart side bar */

  .cart-sidebar {
	position: fixed;
	background-color: #FFF;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	flex-direction: column;
	padding: 15px;
  }
  .cart-sidebar-open {
	display: flex;
  }
  #btn-close-cart {
	font-size: 30px;
	color:pink;
	background: transparent;
	align-self: flex-end;
  }
  #empty-cart {
	flex-grow: 1;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  #empty-cart.empty-cart-show {
	display: flex;
  }
  #empty-cart .fa-bag-shopping {
	color: pink;
	font-size: 154px;
	opacity: 0.2;
	margin-bottom: 25px;
  }
  #cart-with-products {
	overflow: auto;
	display: none;
  }
  #cart-with-products.cart-with-products-show {
	display: block;
  }
  #cart-with-products ul {
	list-style: none;
  }
  #cart-with-products li {
	display: flex;
	align-items: flex-start;
	gap: 12px;
	border-bottom: 1px solid #EAEAEA;
	padding: 12px 0;
  }
  #cart-with-products li img {
	border-radius: 5px;
	object-fit: cover;
  }
  #cart-with-products li .form-input {
	width: 68px;
	text-align: center;
	align-self: center;
  }
  #cart-with-products li button {
	color: pink;
	font-size: 18px;
	width: 30px;
	height: 30px;
	background: transparent;
	align-self: center;
	cursor: pointer;
  }
  #cart-with-products li div {
	flex-grow: 1;
  }
  .cart-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0;
  }
  .cart-total p:last-child {
	font-size: 18px;
  }
  .cart-total .h2 {
	margin: 0;
  }
  #cart-with-products .btn-outline {
	margin-bottom: 12px;
  }
  @media (min-width: 768px) {
	.cart-sidebar {
	  width: 428px;
	  box-shadow: -3px 0px 6px rgba(0, 0, 0, 0.25);
	}
  }
  
  /* FORMS */
  .form-input {
	border: 1px solid #CED4DA;
	border-radius: 4px;
	height: 38px;
	font-family: inherit;
	padding: 9px;
	font-size: 16px;
  }

